.wd-div-top {
    border-bottom: var(--border-div);
    padding: 12px 12px 12px 16px;
    display: flex;
    justify-content: space-between;
}

.wd-page-title {
    display: inline-block;
}

.wd-page-title h1 {
    font-size: 20px;
    margin: 0px 0px 4px 0px;
}

.wd-page-title h3 {
    color: var(--color-lightgray);
    font-size: 13px;
    margin: 0px;
}

a.wd-title-more {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-highlight);
    margin: 0px;
}

.wd-post-container {
    border-bottom: var(--border-div);
    padding: 12px 12px 12px 16px;
    display: flex;
}

.wd-avatar {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: inline-block;
}

.wd-post-content-container {
    margin-left: 12px;
    width: calc(100% - 66px);
}

.wd-post-top {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    width: 100%;
}

.wd-author {
    display: inline-block;
    color: var(--color-lightgray);
}

.wd-author-name {
    color: var(--color-main);
}

a.wd-more {
    display: inline-block;
    color: var(--color-lightgray);
}

.wd-post-content {
    font-size: 15px;
    max-width: 506px;
    margin-top: 6px;
    margin-right: 4px;
    margin-bottom: 12px;
}

.wd-repost-container {
    max-width: 504px;
    border: var(--border-div);
    border-radius: 20px 20px 20px 20px;
}

.wd-repost-container img {
    width: 504px;
    height: 264px;
    object-fit: cover;
    border-bottom: var(--border-div);
    border-radius: 20px 20px 0px 0px;
}

.wd-repost {
    padding: 12px 12px 0px 12px;
}

.wd-repost h3, p{
    margin: 0px 0px 6px 0px;
    font-size: 15px
}

.wd-repost p{
    color: var(--color-lightgray);
}

.wd-post-foot {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    color: var(--color-lightgray);
}

.wd-foot-icon {
    margin-right: 12px;
}

a.wd-icon-selected {
    color: red;
}